div.box
{
  border: 1px solid black;
  border-radius: 15px;
  font-family: Noteworthy, Comic Sans MS;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  box-sizing: border-box;
}

div.box-card
{
  position: relative;
  width: 200px;
  height: 280px;
}

div.box-inst
{
  width: 100%;
}

div.box-sheet
{
  width: 620px;
  height: 360px;
}

div.inner
{
  border: 5px solid gray;
  border-radius: 10px;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
}

div.inner-card
{
  position: static;
  height: 100%;
}

div.inner-sheet
{
  height: 100%;
  text-align:left;
}

h4
{
  margin-bottom: 0px;
  margin-top: 0px;
}

h5
{
  margin-bottom: 0px;
  margin-top: 5px;
}

p
{
  margin-top: 0px;
  text-align:left;
}

div.circle
{
	background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border:2px solid black;
    line-height: 30px;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
}

table.dice {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td.dice, th.dice {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

heart::before {
  content: "❤";
  color: red;
}

flake::before {
  content: "❄";
  color: blue;
}

img.image-background {
  width: 80%;
  height: auto;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  z-index: -1;
}
		  